# Ignore everything
**

# ... except for dependencies and source
!Pipfile
!Pipfile.lock
!koku/
!docs/source/specs/
!.git/
!.s2i/
!db_functions/
!scripts/run_migrations.sh
!scripts/job_script.sh
!scripts/run_django_migrations.sh
!scripts/adjust_ocp_ui_numerics.py
