# Ignore everything
**

# ... except for dependencies and source
!Pipfile
!Pipfile.lock
!koku/
!docs/specs/
!db_functions/
!licenses/
!scripts/

# keep the test files out of the final image
# WARNING - This will also remove any file that contains test in the name like latest.
**/*test*
**/__pycache__
**/*.log

# remove any static files
koku/static/**
!koku/static/README
