# Ignore everything
**

# ... except for dependencies and source
!Pipfile
!Pipfile.lock
!koku/
!docs/source/specs/
!db_functions/
!scripts/entrypoint.sh
!scripts/run_migrations.sh
!scripts/job_script.sh
!scripts/copy_static_perspective_data.py

# keep the test files out of the final image
**/*test*
**/__pycache__
**/*.log
