[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "==0.5.1"
django-environ = ">=0.4.0"
djangorestframework = ">=3.8.0"
gunicorn = ">=19.7.0"
boto3 = "==1.9.200"
whitenoise = ">=3.3.0"
Django = "==2.2.4"
psutil = "==5.6.2"
drf-nested-routers = ">=0.90.0"
django-filter = ">=1.1.0"
requests = ">=2.20.0"
django-tenant-schemas = "==1.9.0"
django-cors-headers = "==3.0.2"
querystring-parser = ">=1.2.3"
djangorestframework-csv = "==2.1.0"
pint = "==0.9"
pytz = "==2019.2"
django-prometheus = "==1.0.15"
prometheus-client = "==0.7.1"
django-redis = "==4.10.0"
flake8 = "==3.7.8"
watchtower = "==0.6.0"
celery = "~=4.3.0"
celery-prometheus-exporter = "==1.7.0"
python-dateutil = "*"
bs4 = "*"
azure = "==4.0.0"
azure-mgmt-costmanagement = "==0.1.0"
azure-storage-blob = "==1.5.0"
azure-storage = "==0.36.0"
google-cloud-storage = "~=1.19.1"
coveralls = "*"

[dev-packages]
astroid = "==2.2.5"
pylint = "==2.3.1"
sphinx-rtd-theme = ">=0.3.0"
sphinx = ">=1.7.0"
tox = ">=3.0.0"
coverage = ">=4.5.0"
codecov = ">=2.0.0"
requests-mock = "==1.6.0"
faker = ">=0.8.14"
pylint-django = "==2.0.11"
pydocstyle = "==4.0.0"
flake8-docstrings = "*"
pyyaml = "*"
tblib = "*"

[requires]
python_version = "3.6"
