[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-environ = ">=0.4.0"
djangorestframework = ">=3.8.0"
gunicorn = ">=19.7.0"
boto3 = "==1.9.86"
whitenoise = ">=3.3.0"
Django = "==2.1.5"
psycopg2-binary = ">=2.7.0"
drf-nested-routers = ">=0.90.0"
django-filter = ">=1.1.0"
requests = ">=2.20.0"
django-tenant-schemas = "==1.9.0"
django-cors-headers = "==2.4.0"
querystring-parser = ">=1.2.3"
djangorestframework-csv = "==2.1.0"
pint = "==0.9"
pytz = "==2018.9"
django-prometheus = "==1.0.15"
prometheus-client = "==0.5.0"


[dev-packages]

astroid = "==2.1.0"
pylint = "==2.2.2"
sphinx-rtd-theme = ">=0.3.0"
sphinx = ">=1.7.0"
tox = ">=3.0.0"
coverage = ">=4.5.0"
codecov = ">=2.0.0"
faker = ">=0.8.14"


[requires]

python_version = "3.6"
