apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: koku
objects:
# ====================================================
#      koku ClowdApp
# ====================================================
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: koku
  spec:
    # The name of the ClowdEnvironment providing the services
    envName: ${ENV_NAME}

    # Creates a database if local mode, or uses RDS in production
    database:
      # Must specify both a name and a major postgres version
      name: ${DATABASE_NAME}
      version: ${{DATABASE_VERSION}}

    # Use Unleash server
    featureFlags: true

    # Redis
    inMemoryDb: true

    # Request kafka topics for your application here
    kafkaTopics:
    - topicName: platform.sources.event-stream
    - topicName: platform.upload.hccm
    - topicName: platform.upload.validation

    objectStore:
    - ${S3_BUCKET_NAME}

    optionalDependencies:
    - ingress
    - rbac
    - sources-api

    # IQE testing
    testing:
      iqePlugin: cost-management

    # ====================================================
    #      koku DB Migrations Job
    # ====================================================
    jobs:
    - name: db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}
      podSpec:
        image: ${DBM_IMAGE}:${DBM_IMAGE_TAG}
        resources:
          limits:
            cpu: ${KOKU_CPU_LIMIT}
            memory: ${KOKU_MEMORY_LIMIT}
          requests:
            cpu: ${KOKU_CPU_REQUEST}
            memory: ${KOKU_MEMORY_REQUEST}
        args:
        - /bin/bash
        - -c
        - $HOME/scripts/run_migrations.sh
        env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: DBM_IMAGE
          value: ${DBM_IMAGE}
        - name: DBM_IMAGE_TAG
          value: ${DBM_IMAGE_TAG}
        - name: DBM_INVOCATION
          value: ${DBM_INVOCATION}
        - name: _MIGRATION_DIRECTIVE
          value: ${_MIGRATION_DIRECTIVE}

    # The bulk of your App. This is where your running apps will live
    deployments:
    -

# ====================================================
#      koku DB Migrations CJI
# ====================================================
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    name: db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}
  spec:
    appName: koku
    jobs:
      - db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}

- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-secret
  data:
    django-secret-key: "${SECRET_KEY}"
- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-aws
  stringData:
    aws-access-key-id: "${AWS_ACCESS_KEY_ID_EPH}"
    aws-secret-access-key: "${AWS_SECRET_ACCESS_KEY_EPH}"
- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-gcp
  data:
    gcp-credentials: "${GCP_CREDENTIALS_EPH}"

parameters:
- name: ENV_NAME
  required: true
  value: koku-env
- name: DATABASE_NAME
  required: true
  value: koku
- name: DATABASE_VERSION
  required: true
  value: "12"
- name: CLOWDER_ENABLED
  required: true
  value: "True"
- description: Image tag
  name: IMAGE_TAG
  required: true
  value: latest
- description: Image
  name: IMAGE
  required: true
  value: quay.io/cloudservices/koku
- name: S3_BUCKET_NAME
  value: koku-eph-s3
- name: GOOGLE_APPLICATION_CREDENTIALS
  description: GCP Credentials Location
  value: "/etc/gcp/gcp-credentials.json"

- description: DB Migrations Image Tag
  name: DBM_IMAGE_TAG
  required: true
  value: latest
- description: DB Migrations Image
  name: DBM_IMAGE
  required: true
  value: quay.io/cloudservices/koku
- description: DB Invocation Iterator
  name: DBM_INVOCATION
  required: true
  value: "00"
- description: DB Migrations Directive
  name: _MIGRATION_DIRECTIVE
  required: false
  value: ""

- displayName: App domain
  name: APP_DOMAIN
  value: project-koku.com
- displayName: API path prefix
  name: API_PATH_PREFIX
  required: true
  value: /api/cost-management
- displayName: Development
  name: DEVELOPMENT
  value: "False"
- displayName: Enable threads in Gunicorn
  name: GUNICORN_THREADS
  value: "True"
- displayName: Celery log level
  name: CELERY_LOG_LEVEL
  value: INFO
- displayName: Gunicorn log level
  name: GUNICORN_LOG_LEVEL
  value: INFO
- displayName: Koku log level
  name: KOKU_LOG_LEVEL
  value: INFO
- displayName: Unleash log level
  name: UNLEASH_LOG_LEVEL
  value: WARNING
- displayName: Django log level
  name: DJANGO_LOG_LEVEL
  value: INFO
- displayName: Django log formatter
  name: DJANGO_LOG_FORMATTER
  value: simple
- displayName: Django log handlers
  name: DJANGO_LOG_HANDLERS
  value: console
- displayName: Django log dir
  name: DJANGO_LOG_DIRECTORY
  required: false
- displayName: Django logging file
  name: DJANGO_LOG_FILE
  required: false
- description: Koku Sentry Env
  displayName: Koku Sentry Env
  name: KOKU_SENTRY_ENV
  value: "dev"
- description: Enable API Sentry
  displayName: Enable API Sentry
  name: ENABLE_API_SENTRY
  value: "False"
- description: Enable Celery Sentry
  displayName: Enable Celery Sentry
  name: ENABLE_CELERY_SENTRY
  value: "False"

- description: Enable S3 Archiving
  displayName: Enable S3 Archiving
  name: ENABLE_S3_ARCHIVING
  value: "false"
- description: Enable Parquet Processing
  displayName: Enable Parquet Processing
  name: ENABLE_PARQUET_PROCESSING
  value: "false"
- description: How many CSV rows to process into a Parquet file
  displayName: Parquet processing batch size
  name: PARQUET_PROCESSING_BATCH_SIZE
  required: true
  value: "200000"
- description: Processing batch size
  displayName: Processing batch size
  name: REPORT_PROCESSING_BATCH_SIZE
  required: false
  value: "100000"
- description: Number of days at a time we process Trino SQL
  displayName: Trino date step
  name: TRINO_DATE_STEP
  required: true
  value: "5"

- description: Flag to use account enhanced prometheus metrics
  displayName: Account Enhanced Metrics
  name: ACCOUNT_ENHANCED_METRICS
  value: "False"
- description: Flag to enable/disable caching
  displayName: cached views
  name: CACHED_VIEWS_DISABLED
  value: "False"
- description: How long to store a task in the worker cache
  displayName: Worker cache timeout
  name: WORKER_CACHE_TIMEOUT
  value: "21600" # 6 hour default

- description: Demo account JSON
  displayName: Demo account JSON
  name: DEMO_ACCOUNTS
  value: ""
- description: Auto Ingest Flag
  displayName: AUTO_DATA_INGEST
  name: AUTO_DATA_INGEST
  value: "True"
- description: Sources to be processed with Trino
  displayName: Sources to be processed with Trino
  name: ENABLE_TRINO_SOURCES
  value: ""
- description: Accounts to be processed with Trino
  displayName: Accounts to be processed with Trino
  name: ENABLE_TRINO_ACCOUNTS
  value: ""
- description: Source Types to be processed with Trino
  displayName: Source Types to be processed with Trino
  name: ENABLE_TRINO_SOURCE_TYPE
  value: ""

- description: Scheduler check interval
  displayName: Scheduler check interval
  name: SCHEDULE_CHECK_INTERVAL
  value: "60"
- description: Remove expired data on day
  displayName: Remove expired data on day
  name: REMOVE_EXPIRED_REPORT_DATA_ON_DAY
  value: "1"
- description: Remove expired data report utc time
  displayName: Remove expired data report utc time
  name: REMOVE_EXPIRED_REPORT_UTC_TIME
  value: "00:00"
- description: Vacuum data on day
  displayName: Vacuum data on day
  name: VACUUM_DATA_DAY_OF_WEEK
  value: ""
- description: Vacuum data utc time
  displayName: Vacuum data utc time
  name: VACUUM_DATA_UTC_TIME
  value: "00:00"
- description: Volume file retention length
  displayName: Volume file retention length
  name: VOLUME_FILE_RETENTION
  value: "86400"
- description: Clean volume on day
  displayName: Clean volume on day
  name: CLEAN_VOLUME_DAY_OF_WEEK
  value: "sunday"
- description: Clean volume utc time
  displayName: Clean volume utc time
  name: CLEAN_VOLUME_UTC_TIME
  value: "00:00"
- displayName: Date overrider
  name: DATE_OVERRIDE
  required: false
- displayName: Retain num months
  name: RETAIN_NUM_MONTHS
  value: "3"
- displayName: Initial ingest num months
  name: INITIAL_INGEST_NUM_MONTHS
  value: "3"
- displayName: Initial ingest override
  name: INITIAL_INGEST_OVERRIDE
  value: "False"
- displayName: Kafka connect
  name: KAFKA_CONNECT
  value: "True"

- description: Use rabbitmq as message broker
  displayName: Use rabbitmq as message broker
  name: USE_RABBIT
  value: "False"
- description: RabbitMQ host
  displayName: RabbitMQ host
  name: RABBITMQ_HOST
  value: "rabbitmq"
- description: RabbitMQ port
  displayName: RabbitMQ port
  name: RABBITMQ_PORT
  value: "5672"

- displayName: Rbac service path
  name: RBAC_SERVICE_PATH
  value: /api/rbac/v1/access/
- displayName: Rbac cache ttl
  name: RBAC_CACHE_TTL
  value: "30"

- displayName: Presto/Trino host
  name: PRESTO_HOST
  value: "trino-coordinator"
- displayName: Presto/Trino port
  name: PRESTO_PORT
  value: "8000"

- displayName: Prometheus Pushgateway
  name: PROMETHEUS_PUSHGATEWAY
  value: prometheus-pushgateway:9091

- description: Source API Path prefix
  name: SOURCES_API_PREFIX
  value: /api/sources/v1.0
- description: Sources PSK secret name
  name: SOURCES_PSK_SECRET_NAME
  value: "sources-psk"

- displayName: Temporary directory
  name: TMP_DIR
  value: /tmp
- displayName: Prometheus multiproc dir
  name: PROMETHEUS_DIR
  value: /tmp
- description: Unleash cache directory
  name: UNLEASH_CACHE_DIR
  value: /tmp/unleash

- name: SECRET_KEY
  displayName: Secret Key (Ephemeral)
  required: true
  from: "[a-f0-9]{20}"
  generate: expression
- name: AWS_ACCESS_KEY_ID_EPH
  displayName: AWS Access Key ID (Ephemeral)
  required: true
  value: insert-string-value
- name: AWS_SECRET_ACCESS_KEY_EPH
  displayName: AWS Secret Access Key (Ephemeral)
  required: true
  value: insert-string-value
- name: GCP_CREDENTIALS_EPH
  displayName: GCP Credentials (Ephemeral)
  required: true
  value: aW5zZXJ0LWJhc2U2NC1lbmNvZGVkLXZhbHVl
