apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: koku
objects:
# ====================================================
#      koku ClowdApp
# ====================================================
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: koku
  spec:
    # The name of the ClowdEnvironment providing the services
    envName: ${ENV_NAME}

    # Creates a database if local mode, or uses RDS in production
    database:
      # Must specify both a name and a major postgres version
      dbResourceSize: medium
      name: ${DATABASE_NAME}
      version: ${{DATABASE_VERSION}}

    # Use Unleash server
    featureFlags: true

    # Redis
    inMemoryDb: true

    # Request kafka topics for your application here
    kafkaTopics:
    - topicName: platform.sources.event-stream
    - topicName: platform.upload.announce
    - topicName: platform.upload.hccm
    - topicName: platform.upload.validation
    - topicName: platform.notifications.ingress
    - topicName: hccm.ros.events

    objectStore:
    - ${S3_BUCKET_NAME}
    - ${S3_ROS_BUCKET_NAME}

    dependencies:
    - ingress
    - rbac
    - sources-api

    optionalDependencies: []

    # IQE testing
    testing:
      iqePlugin: cost-management

    # ====================================================
    #      koku DB Migrations Job
    # ====================================================
    jobs:
    - name: db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}
      podSpec:
        image: ${DBM_IMAGE}:${DBM_IMAGE_TAG}
        resources:
          limits:
            cpu: ${KOKU_CPU_LIMIT}
            memory: ${KOKU_MEMORY_LIMIT}
          requests:
            cpu: ${KOKU_CPU_REQUEST}
            memory: ${KOKU_MEMORY_REQUEST}
        args:
        - /bin/bash
        - -c
        - $APP_ROOT/scripts/run_migrations.sh
        env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: DBM_IMAGE
          value: ${DBM_IMAGE}
        - name: DBM_IMAGE_TAG
          value: ${DBM_IMAGE_TAG}
        - name: DBM_INVOCATION
          value: ${DBM_INVOCATION}
        - name: _MIGRATION_DIRECTIVE
          value: ${_MIGRATION_DIRECTIVE}

    # The bulk of your App. This is where your running apps will live
    deployments:
    -

# ====================================================
#      koku DB Migrations CJI
# ====================================================
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    name: db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}
  spec:
    appName: koku
    jobs:
      - db-migrate-cji-${DBM_IMAGE_TAG}-${DBM_INVOCATION}

- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-secret
  data:
    django-secret-key: "${SECRET_KEY}"
- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-aws
  stringData:
    aws-access-key-id: "${AWS_ACCESS_KEY_ID_EPH}"
    aws-secret-access-key: "${AWS_SECRET_ACCESS_KEY_EPH}"
- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-gcp
  data:
    gcp-credentials: "${GCP_CREDENTIALS_EPH}"
- apiVersion: v1
  kind: Secret # For ephemeral/local environment only
  metadata:
    name: koku-oci
  data:
    oci-credentials: "${OCI_CREDENTIALS_EPH}"
  stringData:
    oci-cli-user: "${OCI_CLI_USER_EPH}"
    oci-cli-fingerprint: "${OCI_CLI_FINGERPRINT_EPH}"
    oci-cli-tenancy: "${OCI_CLI_TENANCY_EPH}"

- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: nginx-conf
  data:
    nginx.conf: |-
      worker_processes  1;
      error_log  /dev/stderr warn;
      pid        /run/nginx.pid;

      events {
        worker_connections  1024;
      }
      http {
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_proto" "$http_x_forwarded_for"';

        access_log  /dev/stdout  main;

        sendfile            on;
        tcp_nopush          on;
        tcp_nodelay         on;
        keepalive_timeout   65;
        server_tokens       off;

        upstream koku-api {
          server koku-api:8000;
        }
        upstream ros-ocp-api {
          server ${ROS_OCP_API}:8000;
        }

        server {
          error_log  stderr;
          listen 8000;
          listen 9000;

          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
          proxy_set_header Host $http_host;
          proxy_redirect off;

          client_max_body_size 500M;
          client_header_buffer_size 46k;
          location /healthz {
              auth_basic          off;
              allow               all;
              return              200;
          }
          location /metrics {
              auth_basic          off;
              allow               all;
              return              200;
          }
          location /api/cost-management/v1/recommendations/ {
            proxy_pass http://ros-ocp-api;
            proxy_read_timeout 600s;
          }
          location ~* ^/api/cost-management/v1/recommendations/.*$ {
            proxy_pass http://koku-api;
            proxy_read_timeout 600s;
          }
        }
      }





parameters:
- name: ENV_NAME
  required: true
  value: koku-env
- name: DATABASE_NAME
  required: true
  value: koku
- name: DATABASE_VERSION
  required: true
  value: "13"
- name: CLOWDER_ENABLED
  required: true
  value: "True"
- description: Image tag
  name: IMAGE_TAG
  required: true
  value: latest
- description: Image
  name: IMAGE
  required: true
  value: quay.io/cloudservices/koku
- name: S3_BUCKET_NAME
  value: koku-eph-s3
- name: S3_ROS_BUCKET_NAME
  value: ros-eph-s3
- name: GOOGLE_APPLICATION_CREDENTIALS
  description: GCP Credentials Location
  value: "/etc/gcp/gcp-credentials.json"
- name: OCI_CLI_KEY_FILE
  description: OCI Credentials Location
  value: "/etc/oci/oci-credentials.pem"

- description: DB Migrations Image Tag
  name: DBM_IMAGE_TAG
  required: true
  value: latest
- description: DB Migrations Image
  name: DBM_IMAGE
  required: true
  value: quay.io/cloudservices/koku
- description: DB Invocation Iterator
  name: DBM_INVOCATION
  required: true
  value: "00"
- description: DB Migrations Directive
  name: _MIGRATION_DIRECTIVE
  required: false
  value: ""

- displayName: App domain
  name: APP_DOMAIN
  value: project-koku.com
- displayName: API path prefix
  name: API_PATH_PREFIX
  required: true
  value: /api/cost-management
- displayName: Development
  name: DEVELOPMENT
  value: "False"
- displayName: Gunicorn worker count
  name: GUNICORN_WORKERS
  value: "3"
- displayName: Enable threads in Gunicorn
  name: GUNICORN_THREADS
  value: "True"
- displayName: Celery log level
  name: CELERY_LOG_LEVEL
  value: INFO
- displayName: Gunicorn log level
  name: GUNICORN_LOG_LEVEL
  value: INFO
- displayName: Koku log level
  name: KOKU_LOG_LEVEL
  value: INFO
- displayName: Unleash log level
  name: UNLEASH_LOG_LEVEL
  value: WARNING
- displayName: Django log level
  name: DJANGO_LOG_LEVEL
  value: INFO
- displayName: Django log formatter
  name: DJANGO_LOG_FORMATTER
  value: simple
- displayName: Django log handlers
  name: DJANGO_LOG_HANDLERS
  value: console
- displayName: Django log dir
  name: DJANGO_LOG_DIRECTORY
  required: false
- displayName: Django logging file
  name: DJANGO_LOG_FILE
  required: false
- description: Koku Sentry Env
  displayName: Koku Sentry Env
  name: KOKU_SENTRY_ENV
  value: "development"
- description: Enable API Sentry
  displayName: Enable API Sentry
  name: ENABLE_API_SENTRY
  value: "False"
- description: Enable Celery Sentry
  displayName: Enable Celery Sentry
  name: ENABLE_CELERY_SENTRY
  value: "False"

- description: Enable S3 Archiving
  displayName: Enable S3 Archiving
  name: ENABLE_S3_ARCHIVING
  value: "false"
- description: How many CSV rows to process into a Parquet file
  displayName: Parquet processing batch size
  name: PARQUET_PROCESSING_BATCH_SIZE
  required: true
  value: "200000"
- description: Processing batch size
  displayName: Processing batch size
  name: REPORT_PROCESSING_BATCH_SIZE
  required: false
  value: "100000"
- description: Number of days at a time we process Trino SQL
  displayName: Trino date step
  name: TRINO_DATE_STEP
  required: true
  value: "5"

- description: Flag to use account enhanced prometheus metricsworker
  displayName: Account Enhanced Metrics
  name: ACCOUNT_ENHANCED_METRICS
  value: "False"
- description: Flag to enable/disable caching
  displayName: cached views
  name: CACHED_VIEWS_DISABLED
  value: "False"
- description: How long to store a task in the worker cache
  displayName: Worker cache timeout
  name: WORKER_CACHE_TIMEOUT
  value: "21600" # 6 hour default

- description: Timeout threshold for worker process to initialize
  displayName: Worker Proc Alive Timeout
  name: WORKER_PROC_ALIVE_TIMEOUT
  value: "4"

- description: Demo account JSON
  displayName: Demo account JSON
  name: DEMO_ACCOUNTS
  value: ""
- description: Auto Ingest Flag
  displayName: AUTO_DATA_INGEST
  name: AUTO_DATA_INGEST
  value: "True"
- name: QE_SCHEMA
  value: ""

- description: Report download schedule
  displayName: Report download schedule
  name: REPORT_DOWNLOAD_SCHEDULE
  value: "0 4,16 * * *"
- description: Remove expired data on day
  displayName: Remove expired data on day
  name: REMOVE_EXPIRED_REPORT_DATA_ON_DAY
  value: "1"
- description: Remove expired data report utc time
  displayName: Remove expired data report utc time
  name: REMOVE_EXPIRED_REPORT_UTC_TIME
  value: "00:00"
- description: Vacuum data on day
  displayName: Vacuum data on day
  name: VACUUM_DATA_DAY_OF_WEEK
  value: ""
- description: Vacuum data utc time
  displayName: Vacuum data utc time
  name: VACUUM_DATA_UTC_TIME
  value: "00:00"
- description: Volume file retention length
  displayName: Volume file retention length
  name: VOLUME_FILE_RETENTION
  value: "86400"
- description: Clean volume on day
  displayName: Clean volume on day
  name: CLEAN_VOLUME_DAY_OF_WEEK
  value: "sunday"
- description: Clean volume utc time
  displayName: Clean volume utc time
  name: CLEAN_VOLUME_UTC_TIME
  value: "00:00"
- displayName: Date overrider
  name: DATE_OVERRIDE
  required: false
- displayName: Retain num months
  name: RETAIN_NUM_MONTHS
  value: "3"
- displayName: Notification check period
  name: NOTIFICATION_CHECK_TIME
  value: "24"
- displayName: Initial ingest num months
  name: INITIAL_INGEST_NUM_MONTHS
  value: "3"
- displayName: Initial ingest override
  name: INITIAL_INGEST_OVERRIDE
  value: "False"
- displayName: Kafka connect
  name: KAFKA_CONNECT
  value: "True"

- description: Use rabbitmq as message broker
  displayName: Use rabbitmq as message broker
  name: USE_RABBIT
  value: "False"
- description: RabbitMQ host
  displayName: RabbitMQ host
  name: RABBITMQ_HOST
  value: "rabbitmq"
- description: RabbitMQ port
  displayName: RabbitMQ port
  name: RABBITMQ_PORT
  value: "5672"

- displayName: Rbac service path
  name: RBAC_SERVICE_PATH
  value: /api/rbac/v1/access/
- displayName: Rbac cache ttl
  name: RBAC_CACHE_TTL
  value: "30"

- displayName: Presto/Trino host
  name: PRESTO_HOST
  value: "trino-coordinator"
- displayName: Presto/Trino port
  name: PRESTO_PORT
  value: "10000"
- displayName: Trino host
  name: TRINO_HOST
  value: "trino-coordinator"
- displayName: Trino port
  name: TRINO_PORT
  value: "10000"

- displayName: Prometheus Pushgateway
  name: PROMETHEUS_PUSHGATEWAY
  value: prometheus-pushgateway:9091

- description: Source API Path prefix
  name: SOURCES_API_PREFIX
  value: /api/sources/v1.0
- description: Sources PSK secret name
  name: SOURCES_PSK_SECRET_NAME
  value: "sources-psk"

- displayName: Temporary directory
  name: TMP_DIR
  value: /tmp
- displayName: Prometheus multiproc dir
  name: PROMETHEUS_DIR
  value: /tmp
- description: Unleash cache directory
  name: UNLEASH_CACHE_DIR
  value: /tmp/unleash

- description: Header used by liveness/readiness probes
  name: SOURCES_PROBE_HEADER
  value: eyJpZGVudGl0eSI6IHsiYWNjb3VudF9udW1iZXIiOiAiMTIzNDUiLCAib3JnX2lkIjogIjEyMzQ1In19Cg==

- name: SECRET_KEY
  displayName: Secret Key (Ephemeral)
  required: true
  from: "[a-f0-9]{20}"
  generate: expression
- name: AWS_ACCESS_KEY_ID_EPH
  displayName: AWS Access Key ID (Ephemeral)
  required: true
  value: insert-string-value
- name: AWS_SECRET_ACCESS_KEY_EPH
  displayName: AWS Secret Access Key (Ephemeral)
  required: true
  value: insert-string-value
- name: GCP_CREDENTIALS_EPH
  displayName: GCP Credentials (Ephemeral)
  required: true
  value: aW5zZXJ0LWJhc2U2NC1lbmNvZGVkLXZhbHVl
- name: OCI_CREDENTIALS_EPH
  displayName: OCI Credentials (Ephemeral)
  required: true
  value: aW5zZXJ0LWJhc2U2NC1lbmNvZGVkLXZhbHVl
- name: OCI_CLI_USER_EPH
  displayName: OCI user (Ephemeral)
  required: true
  value: insert-string-value
- name: OCI_CLI_FINGERPRINT_EPH
  displayName: OCI user fingerprint (Ephemeral)
  required: true
  value: insert-string-value
- name: OCI_CLI_TENANCY_EPH
  displayName: OCI tenancy (Ephemeral)
  required: true
  value: insert-string-value
- description: Enhanced Org Admin
  displayName: Enhanced Org Admin
  name: ENHANCED_ORG_ADMIN
  value: "False"
- name: RBAC_CACHE_TIMEOUT
  displayName: RBAC_CACHE_TIMEOUT
  value: "300"
- name: CACHE_TIMEOUT
  displayName: Middleware Timeout
  value: "3600"
