-server
-XX:+UseContainerSupport
-XX:+UseG1GC
-XX:InitialRAMPercentage=50.0
-XX:MaxRAMPercentage=75.0
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/trino/logs/heap_dump.bin
-XX:+ExitOnOutOfMemoryError
-XX:ErrorFile=/data/trino/logs/java_error%p.log
-verbose:gc
-Xlog:gc*:/data/trino/logs/gc.log
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.port=10000
-Dcom.sun.management.jmxremote.rmi.port=10000
-Dfile.encoding=UTF-8
-Djava.rmi.server.hostname=127.0.0.1
# Allow loading dynamic agent used by JOL
-XX:+UnlockDiagnosticVMOptions
-XX:+EnableDynamicAgentLoading
-XX:G1NumCollectionsKeepPinned=10000000
