NAME=masu
NAMESPACE=myproject
BUILD_MEMORY_REQUEST=512Mi
BUILD_MEMORY_LIMIT=1Gi
CELERY_MONITOR_CPU_REQUEST=100m
CELERY_MONITOR_CPU_LIMIT=300m
CELERY_MONITOR_MEMORY_REQUEST=256Mi
CELERY_MONITOR_MEMORY_LIMIT=512Mi
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/project-koku/masu.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=
