# This is an example parameter file used with the openshift templates.
# 
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# NAME=koku
# NAMESPACE=koku
# BUILD_MEMORY_REQUEST=512Mi
# BUILD_MEMORY_LIMIT=1Gi
# REPLICAS=1
# CPU_REQUEST=500m
# CPU_LIMIT=1
# MEMORY_REQUEST=512Mi
# MEMORY_LIMIT=1Gi
# PIP_INDEX_URL=
# PIPENV_PYPI_MIRROR=
# SOURCE_REPOSITORY_URL=https://github.com/project-koku/koku.git
# SOURCE_REPOSITORY_REF=
# CONTEXT_DIR=openshift/buildenv/flower
# APPLICATION_DOMAIN=
