# This is an example parameter file used with the openshift templates.
#
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# NAME=koku
# NAMESPACE=koku
# KAFKA_HOST=localhost
# KAFKA_PORT=29092
# REDIS_HOST=koku-redis.koku.svc.cluster.local
# REDIS_PORT=6379
# DATABASE_HOST=koku-db.koku.svc.cluster.local
# DATABASE_PORT=5432
# RABBITMQ_HOST=rabbitmq.koku.svc.cluster.local
# MASU_HOST=koku-masu.koku.svc.cluster.local
# MASU_PORT=8080
# RBAC_HOST=localhost
# RBAC_PORT=8080
