# This is an example parameter file used with the openshift templates.
# 
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# NAME=koku
# NAMESPACE=koku
# VOLUME_CAPACITY=1Gi
# MEMORY_REQUEST=1Gi
# MEMORY_LIMIT=1Gi
