# This is an example parameter file used with the openshift templates.
# 
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# NAME=koku
# NAMESPACE=koku
# BUILD_MEMORY_REQUEST=1Gi
# BUILD_MEMORY_LIMIT=1Gi
# MEMORY_REQUEST=1Gi
# MEMORY_LIMIT=1Gi
# CPU_REQUEST=200m
# CPU_LIMIT=300m
# API_PATH_PREFIX=/api
# APPLICATION_DOMAIN=
# CONTEXT_DIR=
# PIP_INDEX_URL=
# PIPENV_PYPI_MIRROR=
# SOURCE_REPOSITORY_URL=https://github.com/project-koku/koku.git
# SOURCE_REPOSITORY_REF=master
