# This is an example parameter file used with the openshift templates.
#
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# NAME=koku
# NAMESPACE=koku
# REPLICAS=1
# CPU_REQUEST=500m
# CPU_LIMIT=1
# MEMORY_REQUEST=512Mi
# MEMORY_LIMIT=1Gi
# VOLUME_CAPACITY=5Gi
# To get the image with SHA ID for the most recently built image
# you can replace the IMAGE value with the result of:
# oc get imagestream koku -o json | grep 'dockerImageReference' | head -n 1 | cut -d \" -f 4
# or with jq installed:
# oc get imagestream $(NAME) -o json | jq -r '.status.tags[0].items[0].dockerImageReference'
# IMAGE=koku
