APPLICATION_NAME=rabbitmq
RABBITMQ_REPLICAS='3'
MEMORY_REQUEST=512Mi
MEMORY_LIMIT=1Gi
CPU_REQUEST=500m
CPU_LIMIT=1
SOURCE_REPOSITORY_URL=https://github.com/project-koku/masu.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=openshift/rabbitmq
VOLUME_CAPACITY=1Gi
