NAME=koku

# Database parameters
DATABASE_NAME=koku
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_ADMIN_PASSWORD=
DATABASE_CLIENT_CERT=

# AWS Credentials for Koku
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS Credentials for receiving CloudWatch logs
CLOUDWATCH_AWS_ACCESS_KEY_ID=
CLOUDWATCH_AWS_SECRET_ACCESS_KEY=

#######################
# Flower auth settings
# See: https://flower.readthedocs.io/en/latest/auth.html
#######################
# Auth scheme: basic, google, or github
FLOWER_AUTH_SCHEME=

# Basic auth comma-separated credentials
# example: user1:password1,user2:password2
FLOWER_BASIC_AUTH_PARAMS=

# OAuth2 key
FLOWER_OAUTH2_KEY=

# OAuth2 secret
FLOWER_OAUTH2_SECRET=

# OAuth2 redirect URI
# example: http://flower.example.com/login
FLOWER_OAUTH2_REDIRECT_URI=

# OAuth2 whitelisted domains
# example: .*@example\.com
FLOWER_OAUTH2_DOMAINS=
