# This is an example parameter file used with the openshift templates.
# 
# Copy this file to koku.git/openshift/parameters and remove .example extension.
# Uncomment the values you want to change.
#
# DATABASE_NAME=koku
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_ADMIN_PASSWORD=
# DATABASE_CLIENT_CERT=
# 
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# 
# CLOUDWATCH_AWS_ACCESS_KEY_ID=
# CLOUDWATCH_AWS_SECRET_ACCESS_KEY=
# 
# FLOWER_AUTH_SCHEME=
# FLOWER_BASIC_AUTH_PARAMS=
# FLOWER_OAUTH2_KEY=
# FLOWER_OAUTH2_REDIRECT_URI=
# FLOWER_OAUTH2_DOMAINS=
