---
apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: koku-cji
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    name: koku-cji-v${IMAGE_TAG}
  spec:
    appName: koku
    jobs:
      - script-runner
parameters:
- description: Image tag
    name: IMAGE_TAG
    required: true
    value: latest
