- op: add
  path: /objects/0/spec/deployments/-
  value:
    name: api-writes
    metadata:
      annotations:
        ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod at times for cost saving purposes
    replicas: ${{KOKU_WRITES_REPLICAS}}
    webServices:
      public:
        enabled: true
      private:
        enabled: false
    podSpec:
      metadata:
        annotations:
          ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod at times for cost saving purposes
      image: ${IMAGE}:${IMAGE_TAG}
      initContainers:
        - command:
            - /bin/bash
            - -c
            - $APP_ROOT/scripts/run_migrations.sh
          image: ${IMAGE}:${IMAGE_TAG}
          inheritEnv: true
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: REDEPLOY_HASH
          value: ${REDEPLOY_HASH_ALL}_${REDEPLOY_HASH_KOKU_WRITES}
        - name: SCHEMA_SUFFIX
          value: ${SCHEMA_SUFFIX}
        - name: TRINO_S3A_OR_S3
          value: ${TRINO_S3A_OR_S3}
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: django-secret-key
              name: koku-secret
              optional: false
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: aws_access_key_id
              name: koku-aws
              optional: false
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: aws_secret_access_key
              name: koku-aws
              optional: false
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: API_PATH_PREFIX
          value: ${API_PATH_PREFIX}
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: MAX_GROUP_BY_OVERRIDE
          value: ${MAX_GROUP_BY_OVERRIDE}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: GUNICORN_LOG_LEVEL
          value: ${GUNICORN_LOG_LEVEL}
        - name: KOKU_LOG_LEVEL
          value: ${KOKU_KOKU_LOG_LEVEL}
        - name: UNLEASH_LOG_LEVEL
          value: ${UNLEASH_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: DJANGO_LOG_FORMATTER
          value: ${DJANGO_LOG_FORMATTER}
        - name: DJANGO_LOG_HANDLERS
          value: ${DJANGO_LOG_HANDLERS}
        - name: DJANGO_LOG_DIRECTORY
          value: ${DJANGO_LOG_DIRECTORY}
        - name: DJANGO_LOGGING_FILE
          value: ${DJANGO_LOG_FILE}
        - name: RBAC_SERVICE_PATH
          value: ${RBAC_SERVICE_PATH}
        - name: RBAC_CACHE_TTL
          value: ${RBAC_CACHE_TTL}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: REQUESTED_BUCKET
          value: ${S3_BUCKET_NAME}
        - name: KOKU_ENABLE_SENTRY
          value: ${KOKU_ENABLE_SENTRY}
        - name: KOKU_SENTRY_ENVIRONMENT
          value: ${KOKU_SENTRY_ENV}
        - name: KOKU_SENTRY_DSN
          valueFrom:
            secretKeyRef:
              key: ${GLITCHTIP_KEY_NAME}
              name: ${GLITCHTIP_SECRET_NAME}
              optional: true
        - name: DEMO_ACCOUNTS
          value: ${DEMO_ACCOUNTS}
        - name: POD_CPU_LIMIT # required to spin up appropriate number of gunicorn workers
          valueFrom:
            resourceFieldRef:
              containerName: koku-api-writes
              resource: limits.cpu
        - name: GUNICORN_WORKERS
          value: ${GUNICORN_WORKERS}
        - name: GUNICORN_THREADS
          value: ${GUNICORN_THREADS}
        - name: ACCOUNT_ENHANCED_METRICS
          value: ${ACCOUNT_ENHANCED_METRICS}
        - name: CACHED_VIEWS_DISABLED
          value: ${CACHED_VIEWS_DISABLED}
        - name: RETAIN_NUM_MONTHS
          value: ${RETAIN_NUM_MONTHS}
        - name: NOTIFICATION_CHECK_TIME
          value: ${NOTIFICATION_CHECK_TIME}
        - name: UNLEASH_CACHE_DIR
          value: ${UNLEASH_CACHE_DIR}
        - name: QE_SCHEMA
          value: ${QE_SCHEMA}
        - name: ENHANCED_ORG_ADMIN
          value: ${ENHANCED_ORG_ADMIN}
        - name: RBAC_CACHE_TIMEOUT
          value: ${RBAC_CACHE_TIMEOUT}
        - name: CACHE_TIMEOUT
          value: ${CACHE_TIMEOUT}
        - name: TAG_ENABLED_LIMIT
          value: ${TAG_ENABLED_LIMIT}
      livenessProbe:
        httpGet:
          path: ${API_PATH_PREFIX}/v1/status/
          port: web
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      readinessProbe:
        httpGet:
          path: ${API_PATH_PREFIX}/v1/status/
          port: web
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      resources:
        limits:
          cpu: ${CPU_LIMIT_KOKU_WRITES}
          memory: ${MEMORY_LIMIT_KOKU_WRITES}
        requests:
          cpu: ${CPU_REQUEST_KOKU_WRITES}
          memory: ${MEMORY_REQUEST_KOKU_WRITES}
      volumeMounts:
        - name: gcp-credentials
          mountPath: /etc/gcp
          readOnly: true
        - name: tmp-data
          mountPath: ${TMP_DIR}
      volumes:
        - name: tmp-data
          emptyDir: {}
        - name: gcp-credentials
          secret:
            secretName: koku-gcp
            items:
              - key: gcp-credentials
                path: gcp-credentials.json
- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: KOKU_WRITES_REPLICAS
    required: true
    value: "3"
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: MEMORY_REQUEST_KOKU_WRITES
    required: true
    value: 512Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: MEMORY_LIMIT_KOKU_WRITES
    required: true
    value: 1Gi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: CPU_REQUEST_KOKU_WRITES
    required: true
    value: 250m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: CPU_LIMIT_KOKU_WRITES
    required: true
    value: 500m
- op: add
  path: /parameters/-
  value:
    displayName: Log Level for koku-api
    name: KOKU_KOKU_LOG_LEVEL
    required: true
    value: INFO
- op: add
  path: /parameters/-
  value:
    description: change this value to restart koku-writes
    name: REDEPLOY_HASH_KOKU_WRITES
    value: "000000"
