- op: replace  # only koku is replace, all other services are appended to this one
  path: /objects/0/spec/deployments/0
  value:
    name: api-reads
    replicas: ${{KOKU_READS_REPLICAS}}
    webServices:
      public:
        enabled: true
      private:
        enabled: false
    podSpec:
      image: ${IMAGE}:${IMAGE_TAG}
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: SCHEMA_SUFFI
          value: ${SCHEMA_SUFFIX}
        - name: TRINO_S3A_OR_S3
          value: ${TRINO_S3A_OR_S3}
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: django-secret-key
              name: koku-secret
              optional: false
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: ${AWS_SHARED_CREDENTIALS_FILE}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: API_PATH_PREFIX
          value: ${API_PATH_PREFIX}
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: MAX_GROUP_BY_OVERRIDE
          value: ${MAX_GROUP_BY_OVERRIDE}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: GUNICORN_LOG_LEVEL
          value: ${GUNICORN_LOG_LEVEL}
        - name: KOKU_LOG_LEVEL
          value: ${KOKU_KOKU_LOG_LEVEL}
        - name: UNLEASH_LOG_LEVEL
          value: ${UNLEASH_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: DJANGO_LOG_FORMATTER
          value: ${DJANGO_LOG_FORMATTER}
        - name: DJANGO_LOG_HANDLERS
          value: ${DJANGO_LOG_HANDLERS}
        - name: DJANGO_LOG_DIRECTORY
          value: ${DJANGO_LOG_DIRECTORY}
        - name: DJANGO_LOGGING_FILE
          value: ${DJANGO_LOG_FILE}
        - name: RBAC_SERVICE_PATH
          value: ${RBAC_SERVICE_PATH}
        - name: RBAC_CACHE_TTL
          value: ${RBAC_CACHE_TTL}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: REQUESTED_BUCKET
          value: ${S3_BUCKET_NAME}
        - name: KOKU_ENABLE_SENTRY
          value: ${KOKU_ENABLE_SENTRY}
        - name: KOKU_SENTRY_ENVIRONMENT
          value: ${KOKU_SENTRY_ENV}
        - name: KOKU_SENTRY_DSN
          valueFrom:
            secretKeyRef:
              key: ${GLITCHTIP_KEY_NAME}
              name: ${GLITCHTIP_SECRET_NAME}
              optional: true
        - name: DEMO_ACCOUNTS
          value: ${DEMO_ACCOUNTS}
        - name: POD_CPU_LIMIT # required to spin up appropriate number of gunicorn workers
          valueFrom:
            resourceFieldRef:
              containerName: koku-api-reads
              resource: limits.cpu
        - name: GUNICORN_WORKERS
          value: ${GUNICORN_WORKERS}
        - name: GUNICORN_THREADS
          value: ${GUNICORN_THREADS}
        - name: ACCOUNT_ENHANCED_METRICS
          value: ${ACCOUNT_ENHANCED_METRICS}
        - name: CACHED_VIEWS_DISABLED
          value: ${CACHED_VIEWS_DISABLED}
        - name: RETAIN_NUM_MONTHS
          value: ${RETAIN_NUM_MONTHS}
        - name: NOTIFICATION_CHECK_TIME
          value: ${NOTIFICATION_CHECK_TIME}
        - name: UNLEASH_CACHE_DIR
          value: ${UNLEASH_CACHE_DIR}
        - name: QE_SCHEMA
          value: ${QE_SCHEMA}
        - name: ENHANCED_ORG_ADMIN
          value: ${ENHANCED_ORG_ADMIN}
        - name: RBAC_CACHE_TIMEOUT
          value: ${RBAC_CACHE_TIMEOUT}
        - name: CACHE_TIMEOUT
          value: ${CACHE_TIMEOUT}
        - name: TAG_ENABLED_LIMIT
          value: ${TAG_ENABLED_LIMIT}
        - name: USE_READREPLICA
          value: "${USE_READREPLICA}"
      livenessProbe:
        httpGet:
          path: ${API_PATH_PREFIX}/v1/status/
          port: web
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      readinessProbe:
        httpGet:
          path: ${API_PATH_PREFIX}/v1/status/
          port: web
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      resources:
        limits:
          cpu: ${CPU_LIMIT_KOKU_READS}
          memory: ${MEMORY_LIMIT_KOKU_READS}
        requests:
          cpu: ${CPU_REQUEST_KOKU_READS}
          memory: ${MEMORY_REQUEST_KOKU_READS}
      volumeMounts:
      - name: aws-credentials
        mountPath: /etc/aws
        readOnly: true
      - name: gcp-credentials
        mountPath: /etc/gcp
        readOnly: true
      - name: tmp-data
        mountPath: ${TMP_DIR}
      - mountPath: /etc/db/readreplica
        name: koku-read-only-db
        readOnly: true
      volumes:
      - name: tmp-data
        emptyDir: {}
      - name: aws-credentials
        secret:
          items:
          - key: aws-credentials
            path: aws-credentials
          secretName: koku-aws
      - name: gcp-credentials
        secret:
          secretName: koku-gcp
          items:
            - key: gcp-credentials
              path: gcp-credentials.json
      - name: koku-read-only-db
        secret:
          items:
          - key: db.host
            path: db_host
          - key: db.name
            path: db_name
          - key: db.password
            path: db_password
          - key: db.port
            path: db_port
          - key: db.user
            path: db_user
          secretName: ${KOKU_READ_ONLY_DB}
          optional: true
- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: KOKU_READS_REPLICAS
    required: true
    value: '3'
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: MEMORY_REQUEST_KOKU_READS
    required: true
    value: 512Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: MEMORY_LIMIT_KOKU_READS
    required: true
    value: 1Gi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: CPU_REQUEST_KOKU_READS
    required: true
    value: 250m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: CPU_LIMIT_KOKU_READS
    required: true
    value: 500m
- op: add
  path: /parameters/-
  value:
    displayName: Log Level for koku-api
    name: KOKU_KOKU_LOG_LEVEL
    required: true
    value: INFO
- op: add
  path: /parameters/-
  value:
    displayName: Determine whether the reads API uses the read replica
    name: USE_READREPLICA
    required: true
    value: 'false'
- op: add
  path: /parameters/-
  value:
    displayName: Determine whether the reads API uses the read replica
    name: KOKU_READ_ONLY_DB
    required: true
    value: cost-db-ro
