- op: add
  path: /objects/0/spec/deployments/-
  value:
    name: clowder-listener
    replicas: ${{LISTENER_REPLICAS}}
    webServices:
      public:
        enabled: false
      private:
        enabled: false
    podSpec:
      image: ${IMAGE}:${IMAGE_TAG}
      command:
        - /bin/bash
        - -c
        - python koku/manage.py listener
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: REDEPLOY_HASH
          value: ${REDEPLOY_HASH_ALL}_${REDEPLOY_HASH_LISTENER}
        - name: SCHEMA_SUFFIX
          value: ${SCHEMA_SUFFIX}
        - name: TRINO_S3A_OR_S3
          value: ${TRINO_S3A_OR_S3}
        - name: KAFKA_CONNECT
          value: ${KAFKA_CONNECT}
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: ${AWS_SHARED_CREDENTIALS_FILE}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: KOKU_LOG_LEVEL
          value: ${LISTENER_KOKU_LOG_LEVEL}
        - name: UNLEASH_LOG_LEVEL
          value: ${UNLEASH_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: REQUESTED_BUCKET
          value: ${S3_BUCKET_NAME}
        - name: REQUESTED_ROS_BUCKET
          value: ${S3_ROS_BUCKET_NAME}
        - name: ROS_URL_EXPIRATION
          value: ${ROS_URL_EXPIRATION}
        - name: DISABLE_ROS_MSG
          value: ${DISABLE_ROS_MSG}
        - name: PARQUET_PROCESSING_BATCH_SIZE
          value: ${PARQUET_PROCESSING_BATCH_SIZE}
        - name: TRINO_DATE_STEP
          value: ${TRINO_DATE_STEP}
        - name: VALIDATION_RANGE
          value: ${VALIDATION_RANGE}
        - name: KOKU_ENABLE_SENTRY
          value: ${KOKU_ENABLE_SENTRY}
        - name: KOKU_SENTRY_ENVIRONMENT
          value: ${KOKU_SENTRY_ENV}
        - name: KOKU_SENTRY_DSN
          valueFrom:
            secretKeyRef:
              key: ${GLITCHTIP_KEY_NAME}
              name: ${GLITCHTIP_SECRET_NAME}
              optional: true
        - name: DATE_OVERRIDE
          value: ${DATE_OVERRIDE}
        - name: TRINO_HOST
          value: ${TRINO_HOST}
        - name: TRINO_PORT
          value: ${TRINO_PORT}
        - name: REPORT_PROCESSING_BATCH_SIZE
          value: ${REPORT_PROCESSING_BATCH_SIZE}
        - name: UNLEASH_CACHE_DIR
          value: ${UNLEASH_CACHE_DIR}
        - name: QE_SCHEMA
          value: ${QE_SCHEMA}
        - name: ENHANCED_ORG_ADMIN
          value: ${ENHANCED_ORG_ADMIN}
      livenessProbe:
        httpGet:
          path: /livez
          port: metrics
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      readinessProbe:
        httpGet:
          path: /readyz
          port: metrics
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      resources:
        limits:
          cpu: ${CPU_LIMIT_LISTENER}
          memory: ${MEMORY_LIMIT_LISTENER}
        requests:
          cpu: ${CPU_REQUEST_LISTENER}
          memory: ${MEMORY_REQUEST_LISTENER}
      volumeMounts:
      - name: aws-credentials
        mountPath: /etc/aws
        readOnly: true
      - name: koku-listener-data
        mountPath: /var/tmp/masu/
      - name: gcp-credentials
        mountPath: /etc/gcp
        readOnly: true
      - name: tmp-data
        mountPath: ${TMP_DIR}
      volumes:
      - name: tmp-data
        emptyDir: {}
      - name: koku-listener-data
        emptyDir: {}
      - name: aws-credentials
        secret:
          items:
          - key: aws-credentials
            path: aws-credentials
          secretName: koku-aws
      - name: gcp-credentials
        secret:
          secretName: koku-gcp
          items:
            - key: gcp-credentials
              path: gcp-credentials.json

- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: LISTENER_REPLICAS
    required: true
    value: '2'
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: MEMORY_REQUEST_LISTENER
    required: true
    value: 300Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: MEMORY_LIMIT_LISTENER
    required: true
    value: 600Mi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: CPU_REQUEST_LISTENER
    required: true
    value: 150m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: CPU_LIMIT_LISTENER
    required: true
    value: 300m
- op: add
  path: /parameters/-
  value:
    displayName: Log Level for listener
    name: LISTENER_KOKU_LOG_LEVEL
    required: true
    value: INFO
- op: add
  path: /parameters/-
  value:
    description: change this value to restart listener
    name: REDEPLOY_HASH_LISTENER
    value: "000000"
