- op: add
  path: /objects/0/spec/deployments/-
  value:
    name: clowder-masu
    metadata:
      annotations:
        ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod as currently it supports only internal administrative api
    replicas: ${{MASU_REPLICAS}}
    webServices:
      public:
        enabled: false
      private:
        enabled: true
    podSpec:
      metadata:
        annotations:
          ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod as currently it supports only internal administrative api
      image: ${IMAGE}:${IMAGE_TAG}
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: REDEPLOY_HASH
          value: ${REDEPLOY_HASH_ALL}_${REDEPLOY_HASH_MASU}
        - name: SCHEMA_SUFFIX
          value: ${SCHEMA_SUFFIX}
        - name: TRINO_S3A_OR_S3
          value: ${TRINO_S3A_OR_S3}
        - name: MASU
          value: "true"
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: django-secret-key
              name: koku-secret
              optional: false
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: aws_access_key_id
              name: koku-aws
              optional: false
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: aws_secret_access_key
              name: koku-aws
              optional: false
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: API_PATH_PREFIX
          value: ${API_PATH_PREFIX}
        - name: SOURCES_API_PREFIX
          value: ${SOURCES_API_PREFIX}
        - name: SOURCES_PSK
          valueFrom:
            secretKeyRef:
              key: psk
              name: ${SOURCES_PSK_SECRET_NAME}
              optional: true
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: GUNICORN_LOG_LEVEL
          value: ${GUNICORN_LOG_LEVEL}
        - name: KOKU_LOG_LEVEL
          value: ${MASU_KOKU_LOG_LEVEL}
        - name: UNLEASH_LOG_LEVEL
          value: ${UNLEASH_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: DJANGO_LOG_FORMATTER
          value: ${DJANGO_LOG_FORMATTER}
        - name: DJANGO_LOG_HANDLERS
          value: ${DJANGO_LOG_HANDLERS}
        - name: DJANGO_LOG_DIRECTORY
          value: ${DJANGO_LOG_DIRECTORY}
        - name: DJANGO_LOGGING_FILE
          value: ${DJANGO_LOG_FILE}
        - name: RBAC_SERVICE_PATH
          value: ${RBAC_SERVICE_PATH}
        - name: RBAC_CACHE_TTL
          value: ${RBAC_CACHE_TTL}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: REQUESTED_BUCKET
          value: ${S3_BUCKET_NAME}
        - name: POD_CPU_LIMIT # required to spin up appropriate number of gunicorn workers
          valueFrom:
            resourceFieldRef:
              containerName: koku-clowder-masu
              resource: limits.cpu
        - name: DEMO_ACCOUNTS
          value: ${DEMO_ACCOUNTS}
        - name: ACCOUNT_ENHANCED_METRICS
          value: ${ACCOUNT_ENHANCED_METRICS}
        - name: CACHED_VIEWS_DISABLED
          value: ${CACHED_VIEWS_DISABLED}
        - name: DATE_OVERRIDE
          value: ${DATE_OVERRIDE}
        - name: RETAIN_NUM_MONTHS
          value: ${RETAIN_NUM_MONTHS}
        - name: NOTIFICATION_CHECK_TIME
          value: ${NOTIFICATION_CHECK_TIME}
        - name: INITIAL_INGEST_NUM_MONTHS
          value: ${INITIAL_INGEST_NUM_MONTHS}
        - name: INITIAL_INGEST_OVERRIDE
          value: ${INITIAL_INGEST_OVERRIDE}
        - name: POLLING_TIMER
          value: ${POLLING_TIMER}
        - name: POLLING_COUNT
          value: ${POLLING_COUNT}
        - name: XL_REPORT_COUNT
          value: ${XL_REPORT_COUNT}
        - name: PROCESSING_WAIT_TIMER
          value: ${PROCESSING_WAIT_TIMER}
        - name: LARGE_PROCESSING_WAIT_TIMER
          value: ${LARGE_PROCESSING_WAIT_TIMER}
        - name: TAG_ENABLED_LIMIT
          value: ${TAG_ENABLED_LIMIT}
        - name: KAFKA_CONNECT
          value: ${KAFKA_CONNECT}
        - name: PROMETHEUS_PUSHGATEWAY
          value: ${PROMETHEUS_PUSHGATEWAY}
        - name: UNLEASH_CACHE_DIR
          value: ${UNLEASH_CACHE_DIR}
        - name: QE_SCHEMA
          value: ${QE_SCHEMA}
        - name: ENHANCED_ORG_ADMIN
          value: ${ENHANCED_ORG_ADMIN}
        - name: TRINO_HOST
          value: ${TRINO_HOST}
        - name: TRINO_PORT
          value: ${TRINO_PORT}
      livenessProbe:
        httpGet:
          path: ${API_PATH_PREFIX}/v1/status/?liveness
          port: private
          scheme: HTTP
        initialDelaySeconds: 45
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 15
      readinessProbe:
          httpGet:
            path: ${API_PATH_PREFIX}/v1/status/
            port: private
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 20
          successThreshold: 1
          failureThreshold: 5
          timeoutSeconds: 10
      resources:
        limits:
          cpu: ${CPU_LIMIT_MASU}
          memory: ${MEMORY_LIMIT_MASU}
        requests:
          cpu: ${CPU_REQUEST_MASU}
          memory: ${MEMORY_REQUEST_MASU}
      volumeMounts:
      - name: gcp-credentials
        mountPath: /etc/gcp
        readOnly: true
      - name: tmp-data
        mountPath: ${TMP_DIR}
      volumes:
      - name: tmp-data
        emptyDir: {}
      - name: gcp-credentials
        secret:
          secretName: koku-gcp
          items:
            - key: gcp-credentials
              path: gcp-credentials.json

- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: MASU_REPLICAS
    required: true
    value: '1'
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: MEMORY_REQUEST_MASU
    required: true
    value: 500Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: MEMORY_LIMIT_MASU
    required: true
    value: 700Mi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: CPU_REQUEST_MASU
    required: true
    value: 50m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: CPU_LIMIT_MASU
    required: true
    value: 100m
- op: add
  path: /parameters/-
  value:
    displayName: Log Level for masu
    name: MASU_KOKU_LOG_LEVEL
    required: true
    value: INFO
- op: add
  path: /parameters/-
  value:
    description: change this value to restart masu
    name: REDEPLOY_HASH_MASU
    value: "000000"
