- op: add
  path: /objects/0/spec/deployments/-
  value:
    name: clowder-sources-listener
    metadata:
      annotations:
        ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod as currently sources integration requires in order message handling, which can fail with multiple consumers due to race conditions
    replicas: ${{SOURCES_LISTENER_REPLICAS}}
    webServices:
      public:
        enabled: false
      private:
        enabled: false
    podSpec:
      metadata:
        annotations:
          ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses 1 pod as currently sources integration requires in order message handling, which can fail with multiple consumers due to race conditions
      image: ${IMAGE}:${IMAGE_TAG}
      command:
        - /bin/bash
        - -c
        - python koku/manage.py sources_listener
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: RESTART_HASH
          value: ${RESTART_HASH_ALL}_${RESTART_HASH_SOURCES_LISTENER}
        - name: SCHEMA_SUFFIX
          value: ${SCHEMA_SUFFIX}
        - name: TRINO_S3A_OR_S3
          value: ${TRINO_S3A_OR_S3}
        - name: SOURCES
          value: "true"
        - name: SOURCES_PROBE_HEADER
          value: ${SOURCES_PROBE_HEADER}
        - name: SOURCES_PSK
          valueFrom:
            secretKeyRef:
              key: psk
              name: ${SOURCES_PSK_SECRET_NAME}
              optional: true
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: django-secret-key
              name: koku-secret
              optional: false
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: ${AWS_SHARED_CREDENTIALS_FILE}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: API_PATH_PREFIX
          value: ${API_PATH_PREFIX}
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: KOKU_LOG_LEVEL
          value: ${SOURCES_LISTENER_KOKU_LOG_LEVEL}
        - name: UNLEASH_LOG_LEVEL
          value: ${UNLEASH_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: DJANGO_LOG_FORMATTER
          value: ${DJANGO_LOG_FORMATTER}
        - name: DJANGO_LOG_HANDLERS
          value: ${DJANGO_LOG_HANDLERS}
        - name: DJANGO_LOG_DIRECTORY
          value: ${DJANGO_LOG_DIRECTORY}
        - name: DJANGO_LOGGING_FILE
          value: ${DJANGO_LOG_FILE}
        - name: SOURCES_API_PREFIX
          value: ${SOURCES_API_PREFIX}
        - name: RBAC_SERVICE_PATH
          value: ${RBAC_SERVICE_PATH}
        - name: RBAC_CACHE_TTL
          value: ${RBAC_CACHE_TTL}
        - name: PROMETHEUS_MULTIPROC_DIR
          value: ${PROMETHEUS_DIR}
        - name: KOKU_ENABLE_SENTRY
          value: ${KOKU_ENABLE_SENTRY}
        - name: KOKU_SENTRY_ENVIRONMENT
          value: ${KOKU_SENTRY_ENV}
        - name: KOKU_SENTRY_DSN
          valueFrom:
            secretKeyRef:
              key: ${GLITCHTIP_KEY_NAME}
              name: ${GLITCHTIP_SECRET_NAME}
              optional: true
        - name: DEMO_ACCOUNTS
          value: ${DEMO_ACCOUNTS}
        - name: UNLEASH_CACHE_DIR
          value: ${UNLEASH_CACHE_DIR}
        - name: QE_SCHEMA
          value: ${QE_SCHEMA}
        - name: ENHANCED_ORG_ADMIN
          value: ${ENHANCED_ORG_ADMIN}
      livenessProbe:
        httpGet:
          path: /livez
          port: metrics
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      readinessProbe:
        httpGet:
          path: /readyz
          port: metrics
          scheme: HTTP
        initialDelaySeconds: 30
        periodSeconds: 20
        successThreshold: 1
        failureThreshold: 5
        timeoutSeconds: 10
      resources:
        requests:
          cpu: ${CPU_REQUEST_SOURCES_LISTENER}
          memory: ${MEMORY_REQUEST_SOURCES_LISTENER}
        limits:
          cpu: ${CPU_LIMIT_SOURCES_LISTENER}
          memory: ${MEMORY_LIMIT_SOURCES_LISTENER}
      volumeMounts:
      - name: aws-credentials
        mountPath: /etc/aws
        readOnly: true
      - name: gcp-credentials
        mountPath: /etc/gcp
        readOnly: true
      - name: tmp-data
        mountPath: ${TMP_DIR}
      volumes:
      - name: tmp-data
        emptyDir: {}
      - name: aws-credentials
        secret:
          items:
          - key: aws-credentials
            path: aws-credentials
          secretName: koku-aws
      - name: gcp-credentials
        secret:
          secretName: koku-gcp
          items:
            - key: gcp-credentials
              path: gcp-credentials.json

- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: SOURCES_LISTENER_REPLICAS
    required: true
    value: '1'
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: MEMORY_REQUEST_SOURCES_LISTENER
    required: true
    value: 250Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: MEMORY_LIMIT_SOURCES_LISTENER
    required: true
    value: 500Mi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: CPU_REQUEST_SOURCES_LISTENER
    required: true
    value: 100m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: CPU_LIMIT_SOURCES_LISTENER
    required: true
    value: 200m
- op: add
  path: /parameters/-
  value:
    displayName: Log Level for sources listener
    name: SOURCES_LISTENER_KOKU_LOG_LEVEL
    required: true
    value: INFO
- op: add
  path: /parameters/-
  value:
    description: change this value to restart sources-listener
    name: RESTART_HASH_SOURCES_LISTENER
    value: "000000"
