- op: add
  path: /objects/0/spec/deployments/-
  value:
    name: sources-listener
    minReplicas: ${{SOURCES_LISTENER_MIN_REPLICAS}}
    webServices:
      public:
        enabled: false
      private:
        enabled: false
      metrics:
        enabled: false
    podSpec:
      image: ${IMAGE}:${IMAGE_TAG}
      command:  # this `command` overrides haberdasher; when implementing haberdasher, change this to `args`
        - /bin/bash
        - -c
        - python koku/manage.py sources_listener
      env:
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: SOURCES
          value: "true"
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: django-secret-key
              name: koku-secret
              optional: false
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: aws-access-key-id
              name: koku-aws
              optional: false
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: aws-secret-access-key
              name: koku-aws
              optional: false
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: ${GOOGLE_APPLICATION_CREDENTIALS}
        - name: APP_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: API_PATH_PREFIX
          value: ${API_PATH_PREFIX}
        - name: APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: DEVELOPMENT
          value: ${DEVELOPMENT}
        - name: LOG_LEVEL
          value: ${LOG_LEVEL}
        - name: KOKU_LOG_LEVEL
          value: ${KOKU_LOG_LEVEL}
        - name: DJANGO_LOG_LEVEL
          value: ${DJANGO_LOG_LEVEL}
        - name: DJANGO_LOG_FORMATTER
          value: ${DJANGO_LOG_FORMATTER}
        - name: DJANGO_LOG_HANDLERS
          value: ${DJANGO_LOG_HANDLERS}
        - name: DJANGO_LOG_DIRECTORY
          value: ${DJANGO_LOG_DIRECTORY}
        - name: DJANGO_LOGGING_FILE
          value: ${DJANGO_LOG_FILE}
        - name: SOURCES_API_SVC_HOST
          value: ${SOURCES_HOST}
        - name: SOURCES_API_SVC_PORT
          value: ${SOURCES_PORT}
        - name: SOURCES_API_PREFIX
          value: ${SOURCES_API_PREFIX}
        - name: RBAC_SERVICE_HOST
          value: ${RBAC_HOST}
        - name: RBAC_SERVICE_PORT
          value: ${RBAC_SERVICE_PORT}
        - name: RBAC_SERVICE_PATH
          value: ${RBAC_SERVICE_PATH}
        - name: RBAC_CACHE_TTL
          value: ${RBAC_CACHE_TTL}
        - name: prometheus_multiproc_dir
          value: ${PROMETHEUS_DIR}
        - name: KOKU_API_ENABLE_SENTRY
          value: ${ENABLE_API_SENTRY}
        - name: KOKU_SENTRY_ENVIRONMENT
          value: ${KOKU_SENTRY_ENV}
        - name: KOKU_SENTRY_DSN
          valueFrom:
            secretKeyRef:
              key: sources-sentry-dsn
              name: koku-sentry
              optional: true
        - name: DEMO_ACCOUNTS
          value: ${DEMO_ACCOUNTS}
      resources:
        requests:
          cpu: ${SOURCES_LISTENER_CPU_REQUEST}
          memory: ${SOURCES_LISTENER_MEMORY_REQUEST}
        limits:
          cpu: ${SOURCES_LISTENER_CPU_LIMIT}
          memory: ${SOURCES_LISTENER_MEMORY_LIMIT}
      volumeMounts:
      - name: gcp-credentials
        mountPath: /etc/gcp
        readOnly: true
      volumes:
      - name: gcp-credentials
        secret:
          secretName: koku-gcp
          items:
            - key: gcp-credentials
              path: gcp-credentials.json

- op: add
  path: /parameters/-
  value:
    displayName: Minimum replicas
    name: SOURCES_LISTENER_MIN_REPLICAS
    required: true
    value: '1'
- op: add
  path: /parameters/-
  value:
    displayName: Memory Request
    name: SOURCES_LISTENER_MEMORY_REQUEST
    required: true
    value: 100Mi
- op: add
  path: /parameters/-
  value:
    displayName: Memory Limit
    name: SOURCES_LISTENER_MEMORY_LIMIT
    required: true
    value: 256Mi
- op: add
  path: /parameters/-
  value:
    displayName: CPU Request
    name: SOURCES_LISTENER_CPU_REQUEST
    required: true
    value: 100m
- op: add
  path: /parameters/-
  value:
    displayName: CPU Limit
    name: SOURCES_LISTENER_CPU_LIMIT
    required: true
    value: 200m
