-i https://pypi.python.org/simple
adal==1.2.6
amqp==2.6.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
asgiref==3.3.1; python_version >= '3.5'
azure-common==1.1.26
azure-core==1.11.0
azure-mgmt-core==1.2.2
azure-mgmt-costmanagement==0.2.0
azure-mgmt-resource==15.0.0
azure-mgmt-storage==11.2.0
azure-storage-blob==12.7.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
boto3==1.17.8
botocore==1.20.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
bs4==0.0.1
cachetools==4.2.1
celery-prometheus-exporter==1.7.0
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
ciso8601==2.1.3
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
confluent-kafka==1.6.0
cryptography==3.4.5; python_version >= '3.6'
django-cors-headers==3.7.0
django-environ==0.4.5
django-extensions==3.1.1
django-filter==2.4.0
django-prometheus==2.1.0
django-redis==4.12.1
django-tenant-schemas==1.10.0
django==3.1.6
djangorestframework-csv==2.1.0
djangorestframework==3.12.2
flake8==3.8.4
google-api-core[grpc]==1.26.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth==1.26.1
google-cloud-bigquery==2.8.0
google-cloud-core==1.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
google-crc32c==1.1.2; python_version >= '3.5'
google-resumable-media==1.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
googleapis-common-protos==1.52.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
grpcio==1.35.0
gunicorn==20.0.4
httplib2==0.19.0
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
importlib-metadata==3.4.0
isodate==0.6.0
jinja2==2.11.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jinjasql==0.1.8
jmespath==0.10.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
kafka-python==2.0.2
kombu==4.6.11
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mccabe==0.6.1
msrest==0.6.21
msrestazure==0.6.4
numpy==1.20.1; python_version >= '3.7'
oauthlib==3.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ordered-set==4.0.2; python_version >= '3.5'
packaging==20.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pandas==1.2.2
patsy==0.5.1
pint==0.16.1
presto-python-client==0.7.0
prometheus-client==0.9.0
proto-plus==1.13.0; python_version >= '3.6'
protobuf==3.14.0
psutil==5.8.0
psycopg2-binary==2.8.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyarrow==3.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyflakes==2.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyjwt==2.0.1; python_version >= '3.6'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dateutil==2.8.1
pytz==2021.1
querystring-parser==1.2.4
redis==3.5.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
requests-oauthlib==1.3.0
requests==2.25.1
rsa==4.7.1; python_version >= '3.6'
s3transfer==0.3.4
scipy==1.6.0; python_version >= '3.7'
sentry-sdk==0.20.2
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.2; python_version >= '3.0'
sqlparse==0.4.1; python_version >= '3.5'
statsmodels==0.12.2
ujson==4.0.2
unicodecsv==0.14.1
uritemplate==3.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
urllib3==1.26.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
vine==1.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
watchtower==1.0.6
whitenoise==5.2.0
zipp==3.4.0; python_version >= '3.6'
