-i https://pypi.python.org/simple
boto3==1.9.86
botocore==1.12.87
certifi==2018.11.29
chardet==3.0.4
django-cors-headers==2.4.0
django-environ==0.4.5
django-filter==2.1.0
django-prometheus==1.0.15
django-tenant-schemas==1.9.0
django==2.1.5
djangorestframework-csv==2.1.0
djangorestframework==3.9.1
docutils==0.14
drf-nested-routers==0.91
gunicorn==19.9.0
idna==2.8
jmespath==0.9.3
pint==0.9
prometheus-client==0.5.0
psycopg2-binary==2.7.7
psycopg2==2.7.7
python-dateutil==2.8.0 ; python_version >= '2.7'
pytz==2018.9
querystring-parser==1.2.3
requests==2.21.0
s3transfer==0.1.13
six==1.12.0
unicodecsv==0.14.1
urllib3==1.24.1 ; python_version >= '3.4'
whitenoise==4.1.2
