name: Check Manifest

on:
  pull_request:
    branches:
      - main

jobs:
  check-manifest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Check manifest
      run: bash .github/scripts/check_manifest.sh
