name: Tag Release
on:
  push:
    branches:
      - stable
jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Tag stable branch for release
      run: |
        DATE=$(date +"%Y.%m.%d")
        PREV_RELEASE=$(git tag --list | tail -1)
        MINOR_VERSION=0
        if [[ "$PREV_RELEASE" == *"$DATE"* ]]; then
            MINOR_VERSION="$PREV_RELEASE" | cut -d'.' -f5
            let MINOR_VERSION++
        fi
        TAG="r.$DATE.$MINOR_VERSION"
        git log -p $(git tag --list | tail -1)..$(git rev-parse --abbrev-ref HEAD) | git tag -a $TAG -F -
        git push origin $TAG
      shell: bash
